<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <main>
        <h2>COLLECTION</h2>
        <p th:unless="${collection} and ${collection.size()}">
            An empty collection is not much of a collection at all.
        </p>
        <!-- NOTE: Don't put th:each on <ul> or you'll have multiple lists -->
        <ul>
            <th:block th:each="artwork : ${collection}">
                <li th:text="${artwork}"></li>
            </th:block>
        </ul>
        <p><a href="/collection/add">Add</a> a work of art to the collection.</p>
    </main>
</body>
</html>